deploymentMode: SingleBinary

singleBinary:
  replicaCount: 1
  persistence:
    enabled: true
    enableStatefulSet: true
    size: 10Gi
    storageClass: local-path
    mountPath: /var/loki/data
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    filesystem:
      chunks_directory: /var/loki/data/chunks
      rules_directory: /var/loki/data/rules
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: loki_index_
          period: 24h
  storageConfig:
    boltdb_shipper:
      shared_store: filesystem
      active_index_directory: /var/loki/data/index
      cache_location: /var/loki/data/cache
    filesystem:
      directory: /var/loki/data/chunks
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: false
    volume_enabled: true
  ruler:
    enable_api: true
    storage:
      type: filesystem
      local:
        directory: /var/loki/data/rules

lokiCanary:
  enabled: true
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 128Mi

serviceAccount:
  create: true

service:
  type: ClusterIP
  port: 3100
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3100"

serviceMonitor:
  enabled: true
  interval: 30s
  additionalLabels:
    release: monitoring

minio:
  enabled: false

grafana:
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: false

ingress:
  enabled: false
