apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: app
resources:
  - namespace.yaml
  - configmap.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - redis-insight-deployment.yaml
  - redis-insight-service.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
